/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store

# React
/react-frontend/node_modules
/react-frontend/build
/react-frontend/.env
/react-frontend/.env.local
/react-frontend/.env.development.local
/react-frontend/.env.test.local
/react-frontend/.env.production.local
/react-frontend/npm-debug.log*
/react-frontend/yarn-debug.log*
/react-frontend/yarn-error.log* 